/*2012.02.06*/
#main, #menu, #tools, #cmm
{
    display: block;
}
body
{
    margin: 0;
    padding: 0;
    font-size: 14px;
    width: 320px;
    font-family: Verdana; /*background-image: -moz-linear-gradient(left,#ffffc0,#ffe,#ffc);     background-image: -webkit-gradient(linear,left top,right top,from(#ffffc0),color-stop(0.5,#ffe),to(#ffc)); */ /*background: -webkit-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);     background: -moz-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -moz-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -moz-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -moz-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);     -webkit-background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;     -moz-background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;     background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;     background-repeat: no-repeat, repeat, repeat, no-repeat;     background-position: top center, 1px 1px, 0px 0px, top center;*/
    background-image: url('../images/dot.png');
    background-repeat: repeat;
    background-position: top left, top right; /*  -webkit-perspective: 900; -webkit-transform-style: preserve-3d; -webkit-transition-property: perspective;*/
    -webkit-transition-duration: 0.4s;
}
.pylfet
{
    -webkit-transform: translateX(-330px);
    -webkit-transition-duration: 0.4s;
    -webkit-animation-timing-function: ease;
}
.pylfet1
{
    -webkit-transform: translateX(-320px);
    -webkit-transition-duration: 0.4s;
    -webkit-animation-timing-function: ease;
}
.pyright
{
    -webkit-transform: translateX(10px);
    -webkit-transition-duration: 0.4s;
    -webkit-animation-timing-function: ease;
}
.pyright1
{
    -webkit-transform: translateX(0px);
    -webkit-transition-duration: 0.4s;
    -webkit-animation-timing-function: ease;
}
#page
{
    background-image: url('../images/dot.png');
    background-repeat: repeat;
    background-position: top left, top right;
    top: 0px;
    position: absolute;
    overflow: hidden;
    width: 320px;
    height: 418px;
}
#page0
{
    background-image: url('../images/dot.png');
    background-repeat: repeat;
    background-position: top left, top right;
    top: 0px;
    position: absolute;
}
#page1
{
    background-image: url('../images/dot.png');
    background-repeat: repeat;
    background-position: top left, top right;
    top: 0px;
    position: absolute;
    left: 320px;
}
/*合并区
#menu, #menu1,#tbList,#login,#container
{
    display: block;
}*/
#backonList, #Previouswin, #closeDetailsaccount, #a5, #closeDetailspr, #closeDetailspr, #a1, #a2, #a3, #a4, #subif, #ToMap, #cmm, .listSub, .bizListIcon, #list-top, #list-mp, #closesaved1, #closesaved, #closep, #closeDetails1, #closeDetails2, #closeDetails, #closecross1, #closecross, .cross, .cross5, .cross4, .cross3, .cross2 a, .cross2, .cross1, #shareit, .crossit, .td_cate, .cha, .chacha, #lblChLo, .gpsButton2, .gpsButton, #list table tr td .button_small, #tools, .editDone, #editDone, .listEditIconSub, .row0Div, .tdBookmark, #saved, #clearBox, .addNewInputSpan, .next, .Log, #lblSP, .bar_menu, #dicmap, .dicmap, .closeSpan, .go, #goMenu, #keywords, .button, .button1, a:link, a, input, img
{
    cursor: pointer;
}
/*shell*/
#copyrightCanvas, #menu, #container, #savedinfo, #rf, #pr, #com, #page3_details, #monthtdiv
{
    overflow: hidden;
}
#cover, #list, #account, #rf, #rl, #showaccount, #tb_search, #search_Bar, #addGroup, #update, #divBM, .listMain3, .listEditIconSub, .listEditAdd, #bookMarks, #editDone, #tools, #inMapMsg, #listBottom, #DivSaveSearch, #page3_details, #imgBizLarge, #GPSControl, #GPSinfoword, #reSearch, #saveLocation, #valuePass, #biz_Fax, #biz_Email, #biz_Website, #Claim, #editEmail, #editWebsite, #editFax, .chacha, #cross, #stcs_result, #canva, #canvb
{
    display: none;
}
#E
{
    /*-webkit-transform: scale(1.454);*/
}
#imgbiz
{
    height: 66px;
}
#kw2
{
    width: 213px;
    background-color: White;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    margin-left: -5px;
}
/*#main
{
    position: relative;
    width: 320px;
    height: auto;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 200;
}*/
#menu
{
    height: 316px; /*293*/
    padding: 0;
    width: 320px;
    cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur), default;
}
#menu1
{
    height: 318px; /*293*/
    display: block;
    position: relative;
    -webkit-user-select: none;
}

#copyrightCanvas
{
    height: 310px; /*293*/
    padding: 0;
    width: 320px;
}
#copyrightText
{
    height: 310px;
    position: relative;
    font-size: 14px;
    width: 313px;
}
#savedinfo
{
    height: 310px;
}
#si
{
    height: 315px;
    display: block;
    position: relative;
}
#container
{
    /*height: 182px;205   2012.02.14     display: none;*/
    margin-top: 256px;
    padding: 0;
    width: 320px;
}
#list
{
    height: 160px;
    display: block;
    position: relative;
    width: 320px;
    font-size: 14px;
    font-family: Arial;
    cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur), default;
}
#list table
{
    height: 80px;
}
body.scrolled #menu
{
    height: 367px;
}
body[orient="landscape"] #menu
{
    height: 218px;
}
body.scrolled[orient="landscape"] #menu
{
    height: 218px;
}
body.scrolled #container
{
    height: 210px;
}
body[orient="landscape"] #container
{
    height: 218px;
}
body.scrolled[orient="landscape"] #container
{
    height: 218px;
}
#menuLists
{
    width: 320px; /*position: relative;*/
}
img
{
    margin-bottom: -5px;
}

a:link
{
    color: #333;
    background-color: transparent;
    text-decoration: none;
}
a:visited
{
    color: #555;
    text-decoration: none;
}
.a
{
    color: blue;
    text-decoration: none;
}
#login
{
    background-image: -moz-linear-gradient(center top,#ffe9cb,#e6d0b7);
    background: -webkit-gradient(linear,54% 13%,54% 67%,from(#ffe9cb),to(#e6d0b7));
    position: absolute;
    z-index: 3000;
    width: 316px;
    border: 2px solid green;
}
#tourists
{
    float: right;
    width: 100%;
}
.right
{
    width: 85px;
    text-align: right;
}
.border
{
    width: 100%;
    border: 1px solid lightblue;
    background-color: White;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
}
.button1
{
    font-size: 18px;
    font-family: arial;
    padding: 2px; /*border: 1px solid lightblue;*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.button
{
    font-size: 12px;
    font-family: arial;
    padding: 2px;
    border: 1px solid lightblue;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#txtDicName
{
    color: Black;
}
#buttonMap
{
    height: 28px;
    width: 40px;
    color: White;
    padding-left: 5px;
    padding-top: 5px;
    font-family: verdana;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #111;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-image: -moz-linear-gradient(top,#788d9c,#004080,#002050,#002050);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#788d9c),color-stop(0.4,#004080),color-stop(0.6,#002050),to(#002050));
}
#keywords
{
    cursor: text;
    height: 28px;
    width: 160px;
    margin-left: 5px;
    padding-left: 2px;
    font-size: 15px;
    margin-top: 5px;
    border: 0;
    background-color: #fff;
    border: 1px solid #777;
}

#buttonSearch
{
    float: left;
    margin-left: 10px;
    height: 28px;
    padding-top: 5px;
}
#tbBookmark
{
    padding: 1px;
    margin: 0;
    width: 100%;
    vertical-align: middle;
}
#tb_search
{
    position: absolute;
    padding-top: 2px;
    z-index: 201;
    width: 320px;
    height: auto;
    border-bottom: 1px solid #aaa;
    background-image: -moz-linear-gradient(center top,#FEFEFE,#EEE,#FEFEFE);
    background-image: -moz-linear-gradient(top,#fefefe,eeeeee,#fefefe);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fefefe),color-stop(0.5,#eee),to(#fefefe));
}
#search_Bar
{
    margin-top: 3px;
    height: 25px;
    width: 100%;
}
#div_History2
{
    font-size: 16px;
    padding-left: 15px;
}
#addGroup
{
    /*margin-left: 16px;*/
    margin-top: 20px;
    float: left;
}
#rl, #Report
{
    text-align: center;
    float: left;
    border: 1px solid #aaa;
    font-weight: bold;
    font-family: Arial Black;
    font-size: 15px;
    color: White;
    width: 298px;
    margin-top: 5px;
    margin-right: 20px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-right: 10px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    background-image: -moz-linear-gradient(top,#407099,#154060,#154060);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#407099),color-stop(0.5,#154060),to(#154060));
}
.go
{
    font-family: Verdana;
    color: #777;
    border: 1px solid #aaa;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 5px;
    -moz-box-shadow: 1px 2px 3px #aaa;
    -webkit-box-shadow: 1px 2px 3px #aaa;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.closeSpan
{
    color: Blue;
    font-size: 13px;
    padding-top: 10px;
}
.dicmap
{
    font-family: Verdana;
    color: orange;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
#function
{
    vertical-align: middle;
    height: 70px;
    background-image: -moz-linear-gradient(center top,#eff3f7,#d6dbde);
    background: -webkit-gradient(linear,left top,right top,from(#eff3f7),to(#d6dbde));
}
#dicmap
{
    height: 28px;
    width: 60px;
    font-family: Verdana;
    color: White;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    padding-left: 2px;
    padding-top: 7px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.bar_menu
{
    width: 56px;
    height: 60px;
    margin-top: 9px;
    vertical-align: middle;
}
.bar_table
{
    text-align: center;
    background: url('../images/head_bg.png');
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    width: 320px;
    border: 0;
    background-image: -moz-linear-gradient(top,#407099,#154060,#154060);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#407099),color-stop(0.5,#154060),to(#154060));
}
.td_bmMiddle
{
    font-size: 16px;
    height: 70px;
    width: 90%;
    padding-top: 5px;
    font-family: Verdana;
    line-height: 18px;
}
.csa
{
    font-size: 14px;
    font-weight: bold;
    color: #12F;
    text-decoration: underline;
}
#bid
{
    float: right;
    font-size: small;
    color: Gray;
}
#profile td
{
    height: 40px;
}
.Log
{
    padding: 2px;
    font-size: large;
    height: 26px;
    margin-left: -40px;
    width: 95px;
    background-image: -moz-linear-gradient(top,#aaa8a3,#727c85);
    background: -webkit-gradient(linear,54% 13%,54% 67%,from(#aaa8a3),to(#727c85));
}
.txt
{
    font-size: 17px;
    background: none repeat scroll 0 0 transparent;
    height: 20px;
    margin: 3px;
    padding: 3px;
    width: 94%;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #999;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
}
.txt1
{
    color: darkblue;
    font-weight: bold;
    font-family: Verdana;
}
.txt2
{
    margin-left: 5px;
    font-size: large;
}
.txt:focus
{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.next
{
    color: Blue;
    text-align: center;
    font-size: small;
    border: 1px solid lightblue;
    width: 80px;
    display: -moz-groupbox;
    background-color: White;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
}
#ddlanswerset
{
    width: 100%;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #999;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
}
#gpsinfowords
{
    width: 100%;
}
.td_bmRight
{
    padding-right: 10px;
}
.p_smallfont
{
    font-size: 13px;
    padding: 0;
    margin: 0;
    font-family: arial;
    height: 18px;
}
.blue
{
    margin-top: 5px;
}
.addNewInputSpan
{
    margin-left: 10px;
    padding: 5px;
    font-weight: bold;
    font-family: Arial Black;
    font-size: 15px;
    color: White;
}
.addNewInputSpan img
{
    /*-webkit-transform: scale(1.454);*/
}
.inputBookmark
{
    width: 90px;
    font-size: 14px;
    border: 0;
    background-color: #efefef;
}
#Modifly
{
    float: left;
    margin-top: 2px;
}
#update
{
    float: left;
}
#clearBox
{
    width: 25px;
    padding-left: 10px;
    font-size: 15px;
    font-family: verdana;
    font-weight: bold;
    color: #999;
}
#tbList
{
    z-index: 10;
    padding: 0;
    margin: 0;
    width: 320px;
    vertical-align: middle; /*background-image: -moz-linear-gradient(left,#ffffc0,#ffe,#ffc);     background-image: -webkit-gradient(linear,left top,right top,from(#ffffc0),color-stop(0.5,#ffe),to(#ffc));*/
}
#divBM
{
    width: 320px;
}
#Lsd
{
    font-size: large;
    margin: 20px;
    color: Gray;
}
#saved
{
    /*background-color: #ffffc1;*/
    font-size: 16px;
    height: 32px;
    padding: 4px;
    width: 314px;
    padding-right: 0px;
}
#div_History
{
    padding-left: 10px;
    padding-top: 10px;
    line-height: 30px;
    border-bottom: 1px solid gray;
    font-size: 15px;
    background-color: #efefef;
}
.tdBookmark
{
    padding: 1px;
    border: 1px solid #777;
    font-family: Verdana;
    font-weight: normal;
    font-size: 13px;
    height: 30px;
    width: 33%;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; /* background-image: -moz-linear-gradient(left,#ffffc0,#ffe,#ffc);     background-image: -webkit-gradient(linear,left top,right top,from(#ffffc0),color-stop(0.5,#ffe),to(#ffc));*/
}
.inline
{
    display: inline;
    color: Red;
    font-size: small;
    top: 5px;
}
.row0Div
{
    float: left;
    border-top: 1px solid #efefef;
    height: 38px;
    padding: 1px;
    width: 280px;
    border-radius: 5px;
    margin-left: 1px;
    cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur), default;
}
.listMain1
{
    background-image: url('../images/dot.png');
    background-repeat: repeat;
    background-position: top left, top right;
    float: left;
    font-family: Verdana;
    font-size: 16px;
    height: 33px;
    width: 30px;
    white-space: nowrap;
    padding-top: 5px;
    padding-left: 5px;
}
.listMain2
{
    float: left;
    font-family: Verdana;
    font-size: 16px;
    height: 22px;
    white-space: nowrap;
    padding: 8px;
    border-radius: 8px;
}
.listMain3
{
    float: left;
    padding-top: 8px;
}
.listSub
{
    float: left;
    font-family: Verdana;
    font-size: 16px;
    height: 30px;
    width: 233px;
    padding-left: 10px;
    padding-top: 8px;
    border-radius: 5px;
}
.listSub a
{
    border-radius: 7px 7px 7px 7px;
    padding: 7px;
}
.listEditIconSub
{
    float: left;
    font-weight: bold;
    font-family: Arial Black;
    font-size: 14px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px; /* -webkit-transform: scale(1.454);*/
}
.listEditAdd
{
    position: relative;
    float: left;
    font-family: Verdana;
    font-size: 14px;
    color: Blue;
    padding-top: 1px;
    left: 40px;
}
.listEditAdd input
{
    width: 207px;
}
.inputBoxs
{
    font-size: 17px;
    width: 243px; /*207*/
    background-color: transparent;
    margin-left: 10px;
    margin-top: 0;
}
#bookMarks
{
    position: absolute;
    z-index: 1;
    top: 99px;
    left: 3px;
    padding: 2px;
    width: 305px;
    height: auto;
    background-image: -moz-linear-gradient(left,#f3f3f3,#dedede);
    background-image: -webkit-gradient(linear,left top,right top,from(#ddd),color-stop(0.5,#efefef),to(#ddd));
    border: 1px solid #777;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    -moz-box-shadow: 2px 3px 7px #777;
    -webkit-box-shadow: 2px 3px 7px #777;
}

#editDone
{
    /*background-color: #AAA8B1;     border: 1px solid #aaa;     color: White; */
    float: right;
    display: inline;
    font-weight: bold;
    font-family: Arial;
    font-size: 15px;
    margin-top: 7px;
    margin-right: 50px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-right: 10px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    height: 22px; /*background-image: -moz-linear-gradient(center top , #AAA8A3, #737D86);     background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#aaa8a3),to(#737d86));*/
}
.editDone
{
    font-weight: bold;
    font-family: Arial Black;
    font-size: 12px;
    color: White;
    padding-left: 2px;
    padding-right: 2px; /*background-color: green;*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#map
{
    width: 320px;
    height: 255px;
    position: fixed;
    visibility: hidden;
    z-index: 101;
    background-image: -moz-linear-gradient(left,#ffffc0,#ffe,#ffc);
    background-image: -webkit-gradient(linear,left top,right top,from(#ffffc0),color-stop(0.5,#ffe),to(#ffc));
}
#map_canvas
{
    position: absolute;
    z-index: 1;
    visibility: hidden;
    top: 0;
    left: 0;
    border-bottom: 1px solid gray;
    background-color: #efefef;
}
#backonMap
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    opacity: 0.9;
}
#tools
{
    position: fixed;
    top: 255px;
    padding: 3px;
    width: 314px;
    font-size: 14px;
    font-family: Arial;
    background-color: #f3f3f3;
    -webkit-box-shadow: 0 10px 17px -2px rgba(0,0,0,0.2) inset;
    -moz-box-shadow: 0 10px 17px -2px rgba(0,0,0,0.2) inset;
    z-index: 355;
    border-bottom: 1px solid black; /*border-left: 1px solid #AAA;     border-right: 1px solid #AAA;*/
    vertical-align: middle;
}
/*
#zoom2
{
    width: 60px;
}

#zoom2 img
{
    margin-left: 10px;
}
#zoom4
{
    width: 50px;
}
#zoom6
{
    width: 50px;
}
#zoom8
{
    width: 50px;
}
#zoom10
{
    width: 50px;
}*/
#tool td
{
    width: 62px;
}
#tool td img
{
    margin-left: 15px;
}
#tool
{
    height: 45px;
}
#inMapMsg
{
    height: 46px;
    width: 200px;
    margin-left: -2px;
    position: absolute;
    top: 180px;
    z-index: 201;
    left: 62px;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 10px;
    color: white;
    font-size: 15px;
    background-color: #777;
    border: 1px solid #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 3px 5px 10px #999;
    -webkit-box-shadow: 3px 5px 10px #999;
}
#cmm
{
    display: none;
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    position: absolute;
    top: 165px;
    left: 268px;
    width: 30px;
    height: 30px;
    z-index: 202;
    background-color: green;
    text-align: center;
    color: white;
    font-size: 21px;
}
#inMapMsg1
{
    float: left;
    margin-top: 10px;
    width: 100%;
}
#res
{
    float: left;
    margin-left: 42px;
    padding: 10px;
}
#resing
{
    margin-top: 11px;
    float: left;
    margin-left: 53px;
}
#listBottom
{
    position: relative;
    height: 0px;
    width: 320px;
}
#listGoBack
{
    color: Blue;
    font-size: 14px;
    font-family: Verdana;
    padding: 10px;
}
.zoom
{
    font-size: 11px;
    text-align: center;
    width: 12.5%;
}
.td_categ
{
    padding-left: 5px;
}
.unit_name
{
    font-size: 16px;
    padding: 7px;
    padding-left: 0px;
    color: #12F !important; /*font-weight: bold;*/
    text-decoration: underline !important;
}
.fs
{
    font-size: 12px;
    height: 17px;
}
.unit_name1
{
    font-size: 16px;
    float: left;
    margin-top: 2px;
    margin-left: 2px;
}
.unit_info
{
    font-size: 14px;
    line-height: 27px !important;
}
.unit_info1
{
    font-size: 13px;
    line-height: 22px !important;
}
.unit_phone
{
    font-size: 15px;
}
.unit_phone font
{
    /* font-weight: 100 !important;*/
    width: 30px;
}
#list table tr td .button_small
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 45px;
    height: 25px;
    margin-top: -11px;
    font-size: 12px;
    font-family: arial;
    padding: 2px;
    border: 0 solid lightblue;
    color: Gray;
    text-align: center;
    background-image: -moz-linear-gradient(left center,#eff3f7,#d6dbde);
    background: -webkit-gradient(linear,left top,right top,from(#eff3f7),to(#d6dbde));
}
#list table tr td .button_small a
{
    float: right;
    margin-top: 2px;
    margin-right: 2px;
}
.button_small
{
    width: 45px;
    height: 30px;
    font-size: 12px;
    font-family: arial;
    padding: 2px;
    border: 1px solid lightblue;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#DivSaveSearch
{
    position: absolute;
    top: 10px;
    left: 1px;
    right: 2px;
    font-size: 15px;
    font-family: Verdana;
    z-index: 201;
    margin: 0;
    padding: 0;
    width: 313px;
    border: 2px solid orange;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 2px 3px 7px #777;
    -webkit-box-shadow: 2px 3px 7px #777;
    background-image: -moz-linear-gradient(left,#ffffc0,#ffe,#ffc);
    background-image: -webkit-gradient(linear,left top,right top,from(#ffffc0),color-stop(0.5,#ffe),to(#ffc));
}
#saveBMName
{
    font-weight: bold;
}
#page3_details
{
    position: absolute;
    top: 255px;
    height: 161px; /*205px;*/
    width: 320px;
    font-size: 14px;
    font-family: Arial; /*background: -webkit-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);     background: -moz-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -moz-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -moz-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -moz-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);     -webkit-background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;     -moz-background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;     background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;     background-repeat: no-repeat, repeat, repeat, no-repeat;     background-position: top center, 1px 1px, 0px 0px, top center;*/
    background-image: url('../images/dot.png');
    background-repeat: repeat;
    background-position: top left, top right;
    z-index: 1; /*border: 1px solid #aaa;*/
}
#page3_detail
{
    height: 161px;
    position: relative;
}
#bizpic
{
    width: 100px;
    float: right;
    margin-bottom: -5px;
}
#bizpic img
{
    margin-bottom: 0px;
}
#biz_name
{
    font-size: 16px !important;
    font-weight: bold; /* border-bottom: 1px solid orange;*/
    height: 33px;
    vertical-align: bottom;
}
#biz_hours
{
    height: 50px;
    display: none;
}
#p3_bizinfo
{
    border: solid 1px gray;
    background: #fafafa;
    width: 314px;
}
#biz_address
{
    width: 204px;
    height: 33px;
    vertical-align: middle;
}
#biz_info
{
    vertical-align: top;
    height: 17px;
}
#biz_phone
{
    height: 17px;
    width: 172px; /*font-size: 14px !important;*/
}
#p3_ownernotes
{
    height: 45px;
}
#p3_ownernotes .bizListIcon
{
    margin-top: 2px;
    margin-left: 22px;
    float: left;
    -webkit-transform: scale(1.454);
}
#p3_ownernotes .cross4
{
    width: 50px;
    margin-top: 15px;
}
#p3_ownernotes .cross5
{
    width: 50px;
    margin-left: 172px;
}
#p3_top
{
    width: 320px; /*margin: 8px 8px 0;     padding: 5px; background: #fafafa;     border: 1px solid #777;*/
}
#p3_top td
{
    font-family: Arial;
    font-size: 14px;
}
#imgBizLarge
{
    position: absolute;
    z-index: 102;
    top: -6px;
    left: 0;
    height: auto;
    padding-left: 5px;
    border-radius: 25px;
}
.details
{
    font-size: 15px;
    font-family: verdana;
}
#GPSControl
{
    position: absolute;
    z-index: 102;
    left: 185px;
    top: 148px;
    padding: 0;
    margin: 0;
}
#GPSinfoword
{
    border-radius: 7px 7px 7px 7px;
    border: 1px solid #999;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 205px;
    padding: 5px;
    width: 300px;
    height: auto;
    margin: 5px;
    background-color: #efefef;
    font-size: 16px;
    height: 24px;
}
.gpsButton
{
    padding: 0;
    float: left;
    margin: 0;
    width: 44px;
    height: 30px;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial Black;
    background-color: #555;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    color: White;
    text-align: center;
    background-image: -moz-linear-gradient(top,#999,#666,#333);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#999),color-stop(0.5,#666),to(#333));
}
.gpsButton2
{
    padding: 0;
    float: left;
    margin: 0;
    width: 44px;
    font-weight: bold;
    font-family: Arial Black;
    background-color: #555;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    color: White;
    text-align: center;
    background-image: -moz-linear-gradient(top,#333,#999,#333);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#333),color-stop(0.5,#999),to(#333));
}
#gpsButton1
{
    padding: 0;
    float: left;
    margin: 0;
    width: 45px;
    height: 30px;
}
#gpsButton3
{
    font-size: 16px;
    font-family: Verdana;
    padding-top: 6px;
    height: 24px;
}
#reSearch
{
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: underline;
    color: Blue;
}
#saveLocation
{
    position: absolute;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
    margin-top: -422px;
    padding: 6px;
    font-size: 14px;
    font-family: Verdana;
    border: 1px solid #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #EFEFEF;
    width: 298px;
    margin-left: 4px;
    height: 80px;
    z-index: 101;
}
#saveLocationCode
{
    font-size: 13px;
    font-family: Verdana;
    background-color: #fefefe;
    border: 0;
    background-color: #f7f7f7;
    border-bottom: 1px solid black;
}
#spanSave
{
    font-size: 14px;
    font-family: Verdana;
    border: 1px solid orange;
    background-color: #f7f7f7;
    padding: 2px;
}
#saveLocationNotes
{
    border: 1px solid black;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    font-size: 15px;
    height: 22px;
    width: 88%;
}
#editbiz
{
    border: 1px solid lightblue;
    background-color: White;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
}
#lblIsLo
{
    color: Black;
}
#lblChLo
{
    padding-left: 2px;
    padding-right: 2px;
    color: Blue;
    border: 1px solid lightblue;
    background-color: White;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
}
.scroll-pane
{
    width: 310px;
    height: auto;
    overflow: auto;
}
.chacha
{
    /*  border-radius: 19px;     box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.6);   border-radius: 19px;      background-color: Gray;       color: White;        height: 19px;        width: 19px; */
    position: absolute;
    top: -26px;
    left: 180px;
    -moz-transition: all .5s ease-in-out 0s;
    -webkit-transition: all .5s ease-in-out 0s;
    background-color: #AAAAAA; /*background-image: -moz-linear-gradient(left,#eee, #aaa, #ccc);     background-image: -webkit-gradient(linear, left top,right top,from(#ccc),color-stop(0.5, #aaa),to(#ccc));     -moz-box-shadow: 1px 3px 3px rgba(0,0,0,0.6);     -webkit-box-shadow: 1px 3px 3px rgba(0,0,0,0.6); */
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    color: #F3F3F3;
    font-size: 16px;
    height: 24px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 24px;
}
.chacha .chahao
{
    font-size: 24px;
    float: left;
    margin-left: 2px;
    margin-top: -6px;
}
.cha
{
    -moz-transition: all .5s ease-in-out 0s;
    background: #EFEFEF url('../images/cha1.jpg') repeat scroll 0 0;
    border-radius: 8px 8px 8px 8px;
    height: 19px;
    position: absolute;
    text-indent: -9999px;
    width: 19px;
}
.chacha1
{
    float: right;
    height: 20px;
    margin-top: 37px;
    padding: 15px;
    width: 30px;
}
#keywords2
{
    height: 28px;
    padding-top: 2px;
    width: 180px;
    margin-left: -20px;
    border: 0 none;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    font-size: 15px;
}
/*
#lblUserName
{
    
}
#lblOut
{
    
}*/
.td_cate
{
    width: 14%;
    height: 80px;
}
#cross
{
    /* background-color: #ddd; border: 1px solid gray;*/
    height: 161px;
    position: absolute;
    width: 320px;
    z-index: 200;
    background-image: url('../images/dot.png');
    background-repeat: repeat;
    background-position: top left, top right; /* background: -webkit-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);     background: -moz-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -moz-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -moz-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -moz-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);     -webkit-background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;     -moz-background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;     background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;     background-repeat: no-repeat, repeat, repeat, no-repeat;     background-position: top center, 1px 1px, 0px 0px, top center;*/
    top: 256px;
}
.crossit
{
    background-image: -moz-linear-gradient(center top , #AAA8A3, #737D86);
    background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#aaa8a3),to(#737d86));
    font-weight: bolder;
    margin-top: 25px;
    margin-left: 14px;
    padding: 5px;
    text-align: center;
    width: 70px;
    float: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#shareit
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: medium;
    background-color: white;
    margin-top: 30px;
    margin-left: 20px;
    width: 65px;
    padding: 5px;
    text-align: center;
    font-weight: bolder;
    background-image: -moz-linear-gradient(top,#aaa8a3,#737d86);
    background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#aaa8a3),to(#737d86));
}
.cross1
{
    margin-top: -12px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
    width: 65px;
    padding: 5px;
    text-align: center;
    font-weight: bolder;
    background-image: -moz-linear-gradient(top,#aaa8a3,#737d86);
    background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#aaa8a3),to(#737d86));
}
.cross2
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
    margin-top: -26px;
    margin-left: 90px;
    width: 65px;
    padding: 5px;
    text-align: center;
    font-weight: bolder;
    background-image: -moz-linear-gradient(top,#aaa8a3,#737d86);
    background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#aaa8a3),to(#737d86));
}
.cross2 a
{
    background-color: transparent;
    color: #333333;
    text-decoration: none;
}
.cross3
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
    margin-top: -26px;
    margin-left: 180px;
    width: 65px;
    padding: 5px;
    text-align: center;
    font-weight: bolder;
    background-image: -moz-linear-gradient(top,#aaa8a3,#737d86);
    background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#aaa8a3),to(#737d86));
}
.cross4
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
    margin-top: 10px;
    margin-left: 76px; /*65*/
    width: 65px;
    padding: 5px;
    text-align: center;
    font-weight: bolder;
    background-image: -moz-linear-gradient(top,#aaa8a3,#737d86);
    background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#aaa8a3),to(#737d86));
}
.cross5
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
    font-weight: bolder;
    margin-left: 185px;
    margin-top: -26px;
    padding: 5px;
    text-align: center;
    width: 65px;
    background-image: -moz-linear-gradient(top,#aaa8a3,#737d86);
    background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#aaa8a3),to(#737d86));
}

.cross6
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
    font-weight: bolder;
    margin-left: 179px;
    margin-top: -26px;
    padding: 5px;
    text-align: center;
    width: 55px;
    background-image: -moz-linear-gradient(top,#aaa8a3,#737d86);
    background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#aaa8a3),to(#737d86));
}
.cross
{
    background-image: -moz-linear-gradient(center top , #AAA8A3, #737D86);
    background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#aaa8a3),to(#737d86));
    font-weight: bolder;
    margin-top: -24px;
    margin-left: 127px;
    padding: 5px;
    text-align: center;
    width: 150px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.tip
{
    font-size: large;
}
.tip1
{
    font-size: large;
    margin-top: 27px;
    float: left;
}
#closecross
{
    background-color: #AAA;
    border-radius: 15px 15px 15px 15px;
    color: #F3F3F3;
    float: right;
    font-family: Verdana;
    font-size: 16px;
    height: 22px;
    margin: -16px 10px;
    text-align: center;
    width: 22px;
    -webkit-transform: scale(1.454);
}

#closecross1
{
    background-color: #AAA;
    border-radius: 15px 15px 15px 15px;
    color: #F3F3F3;
    float: left;
    font-family: Verdana;
    font-size: 16px;
    height: 22px;
    margin: 5px 10px;
    text-align: center;
    width: 22px;
    -webkit-transform: scale(1.454);
}
#closeDetails
{
    background-color: #AAA;
    border-radius: 15px;
    color: #F3F3F3;
    float: right;
    height: 22px;
    margin: -23px 25px;
    text-align: center;
    width: 22px;
    font-family: Verdana;
    font-size: 16px;
    -webkit-transform: scale(1.454);
}
#closeDetailsaccount
{
    background-color: #AAA;
    border-radius: 15px;
    color: #F3F3F3;
    float: right;
    height: 22px; /*margin: 37px 148px;*/
    margin: 98px 10px; /* 积分系统：37 10*/
    text-align: center;
    width: 22px;
    font-family: Verdana;
    font-size: 16px;
    -webkit-transform: scale(1.454);
}
#closeDetailsaccount1
{
    background-color: #AAA;
    border-radius: 15px;
    color: #F3F3F3;
    float: left;
    height: 22px; /*margin: 37px 148px;*/
    margin: 37px 10px; /* 积分系统：37 10*/
    text-align: center;
    width: 22px;
    font-family: Verdana;
    font-size: 16px;
    -webkit-transform: scale(1.454);
}
#closeDetailspr
{
    background-color: #AAA;
    border-radius: 15px;
    color: #F3F3F3;
    float: right;
    height: 22px;
    margin: 5px 10px;
    text-align: center;
    width: 22px;
    font-family: Verdana;
    font-size: 16px;
    -webkit-transform: scale(1.454);
}
#closepoints
{
    background-color: #AAA;
    border-radius: 15px;
    color: #F3F3F3;
    float: right;
    height: 22px;
    margin: 67px 10px;
    text-align: center;
    width: 22px;
    font-family: Verdana;
    font-size: 16px;
    -webkit-transform: scale(1.454);
}
#closepoints1
{
    background-color: #AAA;
    border-radius: 15px;
    color: #F3F3F3;
    float: left;
    height: 22px;
    margin: 67px 10px;
    text-align: center;
    width: 22px;
    font-family: Verdana;
    font-size: 16px;
    -webkit-transform: scale(1.454);
}
#closeDetails1
{
    background-color: #AAA;
    border-radius: 15px;
    color: #F3F3F3;
    float: left;
    height: 22px;
    margin: 0px 10px;
    text-align: center;
    width: 22px;
    font-family: Verdana;
    font-size: 16px;
    -webkit-transform: scale(1.454);
}
#closeDetails2
{
    background-color: #AAA;
    border-radius: 15px;
    color: #F3F3F3;
    float: right;
    height: 22px;
    margin-right: 10px;
    text-align: center;
    width: 22px;
    font-family: Verdana;
    font-size: 16px;
    -webkit-transform: scale(1.454);
}
#c
{
    width: 296px;
    height: 90px;
    margin-left: 24px;
}
#c img
{
    margin-left: -24px;
}
#c a
{
    color: Black;
}
#p
{
    height: 104px;
    margin-left: 9px;
    width: 309px;
}
#closep
{
    font-family: Verdana;
    background-color: #AAA;
    border-radius: 15px;
    color: #F3F3F3;
    float: right;
    height: 22px;
    margin: -7px 13px;
    text-align: center;
    width: 22px;
    -webkit-transform: scale(1.454);
}
#closesaved
{
    background-color: #AAA;
    border-radius: 15px;
    color: #F3F3F3;
    float: right;
    height: 22px;
    margin: 5px 10px 10px;
    text-align: center;
    width: 22px;
    -webkit-transform: scale(1.4);
}
#closesaved1
{
    background-color: #AAA;
    border-radius: 15px;
    color: #F3F3F3;
    float: left;
    height: 22px;
    margin: 5px 10px;
    text-align: center;
    width: 22px;
    -webkit-transform: scale(1.4);
}
#list-mp
{
    float: left; /*   font-size: medium;     font-weight: bold;     margin-left: 10px;     margin-top: 10px;*/
    font-size: 15px;
    border: 0 none;
    color: Black;
    float: left;
    height: 22px;
    padding: 15px;
    text-align: center;
    width: 90px;
    font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-left: 100px;
}
#list-top
{
    float: right;
    font-size: medium;
    font-weight: bold;
    padding: 15px;
    display: none;
}
#list-top a
{
    color: Gray;
}
#stcs_result
{
}
#centerControlDiv
{
    left: 145px !important;
    top: 110.5px !important;
    display: none;
}
#list-clear
{
    border: 0 none;
    clear: both;
    height: 10px;
    margin: 0;
    padding: 0;
}
.p_date
{
    float: right;
}
#url
{
    border: 0;
    color: blue;
    font-size: small;
    margin-left: -15px;
    width: 135px;
}
#showsaved, #showshared, #showaccount
{
    color: Gray;
    width: 70px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    margin-left: 45px;
    text-align: center;
    padding: 4px;
    font-weight: bold; /*      border: solid 1px grey;background: -webkit-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);     background: -moz-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -moz-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -moz-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -moz-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);     -webkit-background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;     -moz-background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;     background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;     background-repeat: no-repeat, repeat, repeat, no-repeat;     background-position: top center, 1px 1px, 0px 0px, top center;*/
}


#backonList
{
    font-size: 15px; /*background-image: -moz-linear-gradient(center top,#407099,#154060,#154060);     background-image: -webkit-gradient(linear,left top,left bottom,from(#407099),color-stop(0.5,#154060),to(#154060));*/
    border: 0 none;
    color: Black;
    float: left;
    height: 22px;
    margin-left: 102px;
    margin-top: 9px;
    text-align: center;
    width: 90px;
    font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.bizListIcon
{
    background: url("../images/icon_L.png") no-repeat scroll 0 0 transparent;
    display: table-cell;
    font-family: Verdana;
    font-size: 13px;
    height: 20px;
    padding-top: 0px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    margin-top: 10px;
    float: left;
}
.bizListIcon1
{
    background: url("../images/Icon_b_none.png") no-repeat scroll 0 0 transparent;
    display: table-cell;
    font-family: Verdana;
    font-size: 13px;
    height: 20px;
    padding-top: 0px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    margin-top: 10px;
    float: left;
}
#centerMap
{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
#canva
{
    width: 320px;
    height: 360px;
    float: left;
    margin-top: -751px;
    background-color: Gray;
    opacity: 0.6;
}
#canvb
{
    background-color: White;
    height: 50px;
    margin-left: 56px;
    margin-top: -686px;
    opacity: 1;
    position: absolute;
    width: 210px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#canvb a
{
    color: blue;
    font-size: medium;
}
#canvb img
{
    margin-top: 7px;
}
.chahao
{
    font-size: 24px;
    float: left;
    margin-left: 1px;
    margin-top: -6px;
}

.dm
{
    width: 17px;
    color: grey;
    height: 17px;
    border: 1px solid grey;
    border-radius: 7px;
}
.ds
{
    background-color: grey;
    margin-top: 7px;
    height: 3px;
    width: 9px;
    margin-left: 4px;
}
#stcs_result1
{
    font-size: 17px;
}
#ra
{
    border: 1px solid grey;
    display: none;
    width: 130px;
    text-align: center;
    padding: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-left: 83px; /*background: -webkit-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);     background: -moz-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -moz-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -moz-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -moz-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);     -webkit-background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;     -moz-background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;     background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;     background-repeat: no-repeat, repeat, repeat, no-repeat;     background-position: top center, 1px 1px, 0px 0px, top center;*/
    background-image: url('../images/dot.png');
    background-repeat: repeat;
    background-position: top left, top right;
}
#dis
{
    font-weight: bold;
    float: right;
}
#ToMap
{
    background-color: White;
    border: 1px white solid;
    width: 24px;
    height: 24px;
    border-radius: 5px;
}
#ToMap img
{
    margin-top: -5px;
}

#tm
{
    width: 20px;
    height: 2px;
    margin-top: 3px;
    background-color: grey;
}
#nb
{
    height: 38px;
    display: none;
}
#ReportsForm
{
    width: 320px;
    height: 156px; /*206px;*/
    position: relative;
}
.tnr, .dnr
{
    font-size: large;
    padding: 5px;
    font-weight: bolder;
}
.t2
{
    float: right;
}

.t3
{
    width: 189px;
}
.t2 span
{
    float: right;
    margin-top: 5px;
}
#dmsg
{
}
#rf
{
    /*background: -webkit-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);     background: -moz-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -moz-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -moz-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -moz-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);     -webkit-background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;     -moz-background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;     background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;     background-repeat: no-repeat, repeat, repeat, no-repeat;     background-position: top center, 1px 1px, 0px 0px, top center;*/
    background-image: url('../images/dot.png');
    background-repeat: repeat;
    background-position: top left, top right;
    height: 157px; /*162px;*/
    position: absolute;
    top: 256px;
    z-index: 200;
}
#dinput
{
    width: 195px;
    margin-top: -195px;
    height: 129px;
    float: left;
    margin-left: 118px;
}
#xing
{
    width: 10px;
    float: right;
    margin-right: -196px;
    margin-top: -184px;
    color: Red;
}
#list-re
{
    text-align: center;
    float: left;
    border: 1px solid #AAA;
    font-size: 14px;
    color: black;
    width: 162px;
    margin-top: 5px;
    margin-left: 73px;
    padding: 5px;
    padding-top: 15px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    height: 30px; /*  float: left;     color: white;     font-size: 15px;     border: 0 none;     height: 21px;     padding: 3px;     margin-top: 10px;     margin-left: 16px;     text-align: center;     width: 77px;     font-weight: bold;     -moz-border-radius: 5px;     -webkit-border-radius: 5px;     background-image: -moz-linear-gradient(top,#407099,#154060,#154060);     background-image: -webkit-gradient(linear,left top,left bottom,from(#407099),color-stop(0.5,#154060),to(#154060)); */
}
#cbiz1
{
    margin-left: -16px;
    float: left;
    margin-top: 5px;
}
#account
{
    width: 320px;
    height: 318px;
    position: absolute;
    top: 98px;
    z-index: 200; /*background: -webkit-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);     background: -moz-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -moz-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -moz-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -moz-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);     -webkit-background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;     -moz-background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;     background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;     background-repeat: no-repeat, repeat, repeat, no-repeat;     background-position: top center, 1px 1px, 0px 0px, top center;*/
    background-image: url('../images/dot.png');
    background-repeat: repeat;
    background-position: top left, top right;
}
#a1, #a2, #a3, #a4, #a5
{
    color: #12F;
    font-size: 15px;
    border: 0 none;
    float: left;
    height: 21px;
    padding: 5px;
    margin-top: 30px;
    margin-left: 30px;
    width: 247px;
    font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-family: Arial;
    text-decoration: underline; /*background-image: -moz-linear-gradient(top,#407099,#154060,#154060);     background-image: -webkit-gradient(linear,left top,left bottom,from(#407099),color-stop(0.5,#154060),to(#154060));*/
}
#a21
{
    font-size: 15px;
    border: 0 none;
    height: 21px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#a41
{
    border: 1px solid green;
    height: 35px;
    display: none;
    float: left;
    color: Black;
    font-size: 15px;
    float: left;
    padding: 5px;
    margin-top: 10px;
    margin-left: 30px;
    text-align: center;
    width: 247px;
    font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#subif
{
    color: White;
    margin-left: 5px;
    margin-top: 2px;
    float: left;
    width: 93%;
    height: 20px;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: none;
    background-image: -moz-linear-gradient(top,#407099,#154060,#154060);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#407099),color-stop(0.5,#154060),to(#154060));
}
#pr
{
    width: 320px;
    height: 245px; /*background: -webkit-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);     background: -moz-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -moz-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -moz-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -moz-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);     -webkit-background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;     -moz-background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;     background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;     background-repeat: no-repeat, repeat, repeat, no-repeat;     background-position: top center, 1px 1px, 0px 0px, top center;*/
    background-image: url('../images/dot.png');
    background-repeat: repeat;
    background-position: top left, top right;
}
#pr1 .unit_name
{
    color: black !important;
    text-decoration: none !important;
}
#pr1
{
    width: 320px;
    height: 245px;
}
#pr1, #com1
{
    position: relative;
}
#com, #com1
{
    height: 206px;
    width: 320px;
}
#incom
{
    width: 69%;
}
#subcomments
{
    width: 62px;
    float: right;
    margin-bottom: 5px;
    margin-right: 2px;
    text-align: center;
    border: 1px solid #aaa;
    font-weight: bold;
    font-family: Arial Black;
    font-size: 15px;
    color: White;
    margin-top: 3px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-right: 10px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    background-image: -moz-linear-gradient(top,#407099,#154060,#154060);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#407099),color-stop(0.5,#154060),to(#154060));
}
.alter
{
    width: 30px;
    float: right;
    margin-bottom: 5px;
    text-align: center;
    border: 1px solid #aaa;
    font-weight: bold;
    font-family: Arial Black;
    font-size: 15px;
    color: White;
    margin-top: 5px;
    padding-left: 4px;
    padding-bottom: 4px;
    padding-right: 13px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    background-image: -moz-linear-gradient(top,#407099,#154060,#154060);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#407099),color-stop(0.5,#154060),to(#154060));
}
.co
{
    border: 0px solid green;
    margin: 3px 3px;
    padding: 3px;
    width: 75%;
    min-height: 30px;
}
.fb
{
    display: block;
    border: 1px solid green;
    margin: 3px 3px;
    padding: 3px;
    width: 75%;
    border-radius: 5px;
}
#reportArea
{
    font-size: 16px;
    margin-left: -15px;
    width: 109%;
    border: 0px;
    background-color: transparent;
    border: 1px solid black;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

#divArea
{
    float: left;
    margin: 10px 27px;
    border-radius: 7px;
    border: 0px solid green;
    background-color: transparent;
    height: 115px;
    width: 265px;
}
#divArea span
{
    margin-left: 5px;
    float: left;
    font-weight: bold;
    margin-top: -10px;
}
#rl
{
    margin-top: 20px;
}
#rl, #Report, #CloseReport
{
    background-color: #AAA8B1;
    background-image: none;
}
#Reports
{
    text-align: center;
    float: left;
    border: 1px solid #AAA;
    font-size: 14px;
    color: black;
    width: 162px;
    margin-top: 22px;
    margin-left: 64px;
    padding: 5px;
    padding-top: 15px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    height: 30px;
}

#Report
{
    width: 62px;
    margin-left: 118px;
    float: left;
    margin-top: -31px;
    margin-bottom: 5px;
    color: Black;
    font-family: Arial !important;
}
#CloseReport
{
    width: 22px;
    height: 22px;
    margin-right: 4px;
    float: right;
    margin-top: -47px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    font-size: 24px;
    -webkit-transform: scale(1.4);
    font-family: Verdana;
    text-align: center;
    color: white;
}
#blank
{
    height: 10px;
    float: left;
    margin-top: 65px;
}
/*道路*/
.addTab
{
    border: 0px;
    width: 100%;
    background-color: #f8f8f8;
    border-bottom: 1px solid #AAA;
}
.addTab font
{
    margin-top: 10px;
    float: left;
    text-decoration: underline;
}
.addTab a
{
    color: #12F;
    font-size: 16px;
}
/*积分系统*/
#ponum
{
    color: orange;
}
.points
{
    font-size: small;
    float: left;
    margin-top: 6px;
}
#totalpdiv
{
    margin-left: 15px;
}
#monthtdiv
{
    width: 275px;
    border-radius: 7px;
    float: left;
    margin-left: 30px;
    height: 65px;
    border: 1px solid orange;
}
#monthtdiv1
{
    height: 63px;
    position: relative;
}
#monthpdiv, #pact, #prep
{
    margin-left: 35px;
}
#psha, #pinv
{
    margin-left: 15px;
}
#tickets li
{
    list-style-type: none;
    float: left;
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    border: 1px grey solid;
    margin-top: 5px;
    margin-left: 5px;
    color: darkBlue;
    cursor: pointer;
    font-size: small;
}
#monthtspan
{
    margin-left: 35px;
}
#monthpspan, #totalpspan
{
    color: orange;
}
#Previouswin
{
    color: blue;
    text-decoration: underline;
    float: left;
    margin-left: 100px;
    margin-top: 210px;
    position: absolute;
}
#cpright
{
    float: left;
    height: 37px;
    width: 94%;
    text-align: center;
    font-size: smaller;
    padding: 8px;
    color: blue;
    text-decoration: underline;
}
#cover
{
    width: 320px;
    height: 415px;
    position: absolute;
    background-color: transparent;
    opacity: 0.5;
    top: 0px;
    z-index: 2000;
}
#pim
{
    margin-top: 5px;
    float: left;
}
#pimg
{
    float: left;
    margin-left: 32px;
    text-align: right;
    padding: 3px;
}
#pimg0
{
    /* border-left: 1px solid Gray;*/
    float: left;
    height: 75px;
    width: 210px;
    padding-top: 5px;
}
#pimg1
{
    background-color: blue;
}
#pimg2
{
    background-color: Orange;
}
#pimg3
{
    background-color: #00ff7f;
}
#pimg4
{
    background-color: beige;
}
#pimg5
{
    background-color: green;
}
#pimg1, #pimg2, #pimg3, #pimg4, #pimg5
{
    width: 0px;
    height: 16px;
    border: 1px solid;
    float: left;
}
#pact1, #psha1, #prep1, #pinv1
{
    float: left;
}
#blank
{
    float: left;
    height: 5px;
    margin-top: 0;
    width: 100%;
}
.plus
{
    /*margin-top: 4px;   border: 1px solid;  margin-left: 4px;*/
    -webkit-transform: scale(0);
    width: 30px;
    text-align: center;
    border-radius: 5px;
    height: 30px;
}
.plus img
{
    width: 30px;
    height: 30px;
}
#copyrightText strong
{
    font-weight: bolder;
    font-size: x-large;
    font-family: Times New Roman;
    line-height: normal;
}
#copyrightText a
{
    text-decoration: underline;
    color: #006091;
    outline: none;
}
#about
{
    position: absolute;
    top: 60px;
    z-index: 100;
    width: 320px;
    height: 356px;
    display: none;
    overflow: hidden;
    background-image: url('../images/dot.png');
    background-repeat: repeat;
    background-position: top left, top right;
}
